# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# OS / editors
.DS_Store
.idea/
.vscode/

data/bronze/
data/tmp/
data/silver/
logs/

!data/bronze/.gitkeep
!data/tmp/.gitkeep
!logs/.gitkeep